<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Default" />

	<f:section name="main">

		<div id="tx_hiveextcontact--{iPluginUid}" class="tx_hiveextcontact list">

			<f:flashMessages />

			<f:if condition="{case} == 0">
				<f:then>
					<f:render partial="Contact/Case" section="Case0" arguments="{contacts: contacts, sysLanguageUid: sysLanguageUid}" />
				</f:then>
				<f:else>
					<f:if condition="{case} == 1">
						<f:then>
							<f:render partial="Contact/Case" section="Case1" arguments="{contacts: contacts, sysLanguageUid: sysLanguageUid}" />
						</f:then>
						<f:else>
							<f:render partial="Contact/Case" section="Case2" arguments="{contacts: contacts, sysLanguageUid: sysLanguageUid}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>

		</div>

	</f:section>
</div>