<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Case0">

            <f:for each="{contacts}" as="contact">
                <v:variable.set name="focusX" value="0.0"/>
                <v:variable.set name="focusY" value="0.0"/>
                <f:if condition="{contact.focusX}">
                    <v:variable.set name="focusX" value="{contact.focusX -> f:format.raw()}"/>
                </f:if>
                <f:if condition="{contact.focusY}">
                    <v:variable.set name="focusY" value="{contact.focusY -> f:format.raw()}"/>
                </f:if>

                <div class="col-xs-12 hive--ext--contact">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-6 hive--ext--contact--image">
                            <f:if condition="{contact.image}">
                                <div class="blend_ focuspoint" data-focus-x="{focusX}" data-focus-y="{focusY}" data-focus-w="{v:media.image.width(src: '{contact.image.originalResource.publicUrl}')}" data-focus-h="{v:media.image.height(src: '{contact.image.originalResource.publicUrl}')}" data-image-w="{v:media.image.width(src: '{contact.image.originalResource.publicUrl}')}" data-image-h="{v:media.image.height(src: '{contact.image.originalResource.publicUrl}')}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                         data-echo="{contact.image.originalResource.publicUrl}"
                                         width="{v:media.image.width(src: '{contact.image.originalResource.publicUrl}')}"
                                         height="{v:media.image.height(src: '{contact.image.originalResource.publicUrl}')}"
                                         title="{contact.image.originalResource.title}"
                                         alt="{contact.image.originalResource.alternative}"
                                         class="b-lazy opacity_0" />
                                </div>
                            </f:if>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-6 hive--ext--contact--info">
                            <div class="hive--ext--contact--info--wrap">
                                <f:if condition="{settings.bHideDepartment} != 1">
                                    <f:if condition="{contact.department}">
                                        <h3>{contact.department.title}</h3>
                                    </f:if>
                                </f:if>

                                <div class="info">
                                    <f:if condition="{settings.bHideCompany} != 1">
                                        <f:if condition="{contact.company}">
                                            <h4>{contact.company.title}</h4>
                                        </f:if>
                                    </f:if>

                                    <f:if condition="{contact.firstname}">
                                        <p>
                                            {f:if(condition: contact.firstname, then: '{contact.firstname} ', else: '')}{f:if(condition: contact.middlename, then: '{contact.middlename} ', else: '')}{f:if(condition: contact.lastname, then: '{contact.lastname}', else: '')}
                                        </p>
                                    </f:if>
                                    <f:if condition="{contact.company.street}">
                                        <p>
                                            {contact.company.street}
                                        </p>
                                    </f:if>
                                    <f:if condition="{contact.company.city}">
                                        <p>
                                            {contact.company.zip} {contact.company.city}
                                        </p>
                                    </f:if>
                                </div>

                                <address>
                                    <f:if condition="{contact.phone}">
                                        <p>
                                            {f:translate(key: 'LLL:EXT:hive_ext_contact/Resources/Private/Language/translation.xlf:hive_ext_contact.label.phone')}: {contact.phone}
                                        </p>
                                    </f:if>
                                    <f:if condition="{contact.mobile}">
                                        <p>
                                            {f:translate(key: 'LLL:EXT:hive_ext_contact/Resources/Private/Language/translation.xlf:hive_ext_contact.label.mobile')}: {contact.mobile}
                                        </p>
                                    </f:if>
                                    <f:if condition="{contact.fax}">
                                        <p>
                                            {f:translate(key: 'LLL:EXT:hive_ext_contact/Resources/Private/Language/translation.xlf:hive_ext_contact.label.fax')}: {contact.fax}
                                        </p>
                                    </f:if>
                                    <f:if condition="{contact.email}">
                                        <p>
                                            <a href="mailto:{contact.email}" alt="" title="">{contact.email}</a>
                                        </p>
                                    </f:if>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>

    </f:section>

    <f:section name="Case1">
        <f:for each="{contacts}" as="oContact">
            <h4>{oContact.firstname} {oContact.lastname}</h4>
        </f:for>
    </f:section>

    <f:section name="Case2">
        <f:for each="{contacts}" as="oContact">
            <h4>{oContact.firstname} {oContact.lastname}</h4>
        </f:for>
    </f:section>

</div>