@import "hive_thm_custom/Resources/Private/Assets/Scss/Custom/custom";

.tx-hive-ext-contact {
  padding-top: 40px;
}
.hive--ext--contact {
  margin-bottom: 40px;
}
#tx_hiveextcontact h3,
#tx_hiveextcontact h4 {
  margin: 0;
}
#tx_hiveextcontact .hive--ext--contact--info--wrap {
  padding-left: 0;
  @media (min-width: 768px) {
    padding-left: 40px;
  }
}
#tx_hiveextcontact h3 {
  font-weight: 300;
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase;
}
#tx_hiveextcontact h4 {
  font-size: 20px;
  font-size: 2rem;
}
#tx_hiveextcontact p {
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
}
#tx_hiveextcontact .info,
#tx_hiveextcontact address {
  padding: 0 0 0 50px;
}
#tx_hiveextcontact h3 {
  padding: 0 0 0 0;
}
@media (min-width: 768px) {
  #tx_hiveextcontact h3 {
    padding: 0 0 0 50px;
  }
}
#tx_hiveextcontact .hive--ext--contact--image {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #tx_hiveextcontact .hive--ext--contact--image {
    margin-bottom: 0;
  }
}
#tx_hiveextcontact .info,
#tx_hiveextcontact address {
  margin: 20px 0 0 10px;
  @media (min-width: 768px) {
    margin: 20px 0 0 0;
  }
}
#tx_hiveextcontact .info:before {
  content: '';
  background: url('/typo3conf/ext/hive_ext_contact/Resources/Public/Assets/Icons/contact_ico_sprite.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: 0;
  top: -5px;
}
#tx_hiveextcontact address:before {
  content: '';
  background: url('/typo3conf/ext/hive_ext_contact/Resources/Public/Assets/Icons/contact_ico_sprite.png') no-repeat 0 -32px;
  width: 32px;
  height: 22px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}

#tx_hiveextcontact .focuspoint {
  padding-bottom: 47.27%;
}