<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hive-ext-contact" >
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.gender" />
		</td>
		<td>
		{contact.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.title" />
		</td>
		<td>
		{contact.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.firstname" />
		</td>
		<td>
		{contact.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.middlename" />
		</td>
		<td>
		{contact.middlename}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.lastname" />
		</td>
		<td>
		{contact.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.image" />
		</td>
		<td>
				<f:image src="{contact.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.focus_x" />
		</td>
		<td>
		{contact.focusX}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.focus_y" />
		</td>
		<td>
		{contact.focusY}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.birthdate" />
		</td>
		<td>
		{contact.birthdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.position" />
		</td>
		<td>
		{contact.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.description" />
		</td>
		<td>
		{contact.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.phone" />
		</td>
		<td>
		{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.fax" />
		</td>
		<td>
		{contact.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.mobile" />
		</td>
		<td>
		{contact.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.supporttext" />
		</td>
		<td>
		{contact.supporttext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.supportlink" />
		</td>
		<td>
		{contact.supportlink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.building" />
		</td>
		<td>
		{contact.building}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.room" />
		</td>
		<td>
		{contact.room}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextcontact_domain_model_contact.belongs_to_default_sys_language" />
		</td>
		<td>
		{contact.belongsToDefaultSysLanguage}
		</td>
	</tr>
</table>
</html>